.contact-card {
    width: 250px;
    overflow-x: auto;
    margin: 20px;
    float: left;
}

.button {
    margin: 20px;
}

.form-card {
    width: 600px;
    margin: 20px;
}

.card-input {
    margin-left: 10px !important;
}